#forgotPasswordPage{
    display: flex;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#forgotPasswordPageLeft{
    background-color: #f4f8f7;
    width: 50%;
    height: auto;
    position: relative;
}

#forgotPasswordPageLeft img:nth-of-type(1){
    width: 25%;
    height: auto;
    display: block;
    margin: 4% 0px 0px 4%;
}

#forgotPasswordPageLeft img:nth-of-type(2){
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#forgotPasswordPageRight{
    background-color: white;
    display: block;
    width: 50%;
    position: relative;
}

#forgotPasswordPageRight #formDiv{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;
}

#forgotPasswordPageHead{
    flex-grow: 0;
    margin: 0 0 20px;
    font-family: 'Urbanist', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

#forgotPasswordPageSubHead{
    flex-grow: 0;
    margin: 20px 10px 0 0;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

#forgotPasswordPageRight #emailInputLabel{
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 50px;
}

#forgotPasswordPageRight #emailInput{
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    padding: 0px;
    text-indent: 10px;
    display: block;
    margin-right: auto;
}

.noErrorInEmail{
    border: 1px solid #d1daeb;
}

.errorInEmail{
    border: 1px solid #e03131;
}

#invalidEmail{
    color:#e03131;
    position: absolute;
    margin: 4px 0px 0px;
    font-size: 12px;
}

#forgotPasswordPageRight #emailInput:focus{
    outline: 0px;
}

#forgotPasswordPageRight #buttonsDiv{
    width: 80%;
    margin-top: 40px;
    display: flex;
    justify-content: left;
}

#forgotPasswordPageRight #buttonsDiv button:hover{
    outline: none;
}

#forgotPasswordPageRight #buttonsDiv button{
    padding: 0px 50px;
    height: 40px;
    font-family: 'Urbanist', sans-serif;
    color: white;
    font-size: 14px;
    background-image: linear-gradient(100deg, #fcad02 -38%, #ff0041 99%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#forgotPasswordPageRight #buttonsDiv a button{
    height: 40px;
    padding: 0px 50px;
    height: 40px;
    font-family: 'Urbanist', sans-serif;
    color: #0F0532;
    font-size: 14px;
    background: none;
    border: 1px solid #979797;
    border-radius: 4px;
    margin-left: 50px;
    cursor: pointer;
}

#forgotPasswordPageRight #buttonsDiv a button:hover, #forgotPasswordPageRight #buttonsDiv button:hover{
    transform: scale(1.1);
}

#emailSentPage{
    display: flex;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#emailSentPageLeft{
    background-color: #f4f8f7;
    width: 50%;
    height: auto;
    position: relative;
}

#emailSentPageLeft img:nth-of-type(1){
    width: 25%;
    height: auto;
    display: block;
    margin: 4% 0px 0px 4%;
}

#emailSentPageLeft img:nth-of-type(2){
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#emailSentPageRight{
    background-color: white;
    width: 50%;
    position: relative;
}

#emailSentPageRight #content{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    display: block;
}

#emailSentPageRight #content img{
    width: 100px;
    height: auto;
}

#emailSentPageRight #content #emailSentHead{
    flex-grow: 0;
    margin: 0 0 20px;
    font-family: 'Urbanist', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 20px;
    color: #0F0532;
}

#emailSentPageRight #content #emailSentSubHead{
    flex-grow: 0;
    margin: 20px 10px 0 0;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    font-weight: 100;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8a8a8a;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#emailSentPageRight #content button{
    width: 120px;
    height: 40px;
    border: 1px solid #979797;
    background: none;
    outline: none;
    border-radius: 4px;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
}

#emailSentPageRight #content button:hover{
    transform: scale(1.1);
}