#resetPasswordPage{
    display: flex;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#resetPasswordPageLeft{
    background-color: #f4f8f7;
    width: 50%;
    height: auto;
    position: relative;
}

#resetPasswordPageLeft img:nth-of-type(1){
    width: 25%;
    height: auto;
    display: block;
    margin: 4% 0px 0px 4%;
}

#resetPasswordPageLeft img:nth-of-type(2){
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#resetPasswordPageRight{
    background-color: white;
    display: block;
    width: 50%;
    position: relative;
}

#resetPasswordPageRight #formDiv{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;
}

#resetPasswordPageHead{
    flex-grow: 0;
    margin: 0 0 20px;
    font-family: 'Urbanist', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0f0532;
}

#resetPasswordPageSubHead{
    flex-grow: 0;
    margin: 20px 10px 0 0;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8a8a8a;
}

#resetPasswordPageRight form{
    margin-top: 30px;
    display: block;
    width: 80%;
}

#confirmPasswordInputDiv, #newPasswordInputDiv{
    width: 100%;
    display: block;
}

#resetPasswordPageRight form label:nth-of-type(1){
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    display: block;
    margin: 20px 0px 5px 0px;
}

#newPasswordInputWithEye{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    padding: 0px;
    text-indent: 10px;
    display: flex;
    border: 1px solid #d1daeb;
}

#confirmPasswordInputWithEye{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    padding: 0px;
    text-indent: 10px;
    display: flex;
}

.mismatch{
    border: 1px solid #e03131;
}

.noMismatch{
    border: 1px solid #d1daeb;
}

#newPasswordInputWithEye input, #confirmPasswordInputWithEye input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 6px;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    padding: 0px;
    text-indent: 10px;
}

#newPasswordInputWithEye input[type='password'], #confirmPasswordInputWithEye input[type='password']{
    font-family: Verdana;
}

#newPasswordInputWithEye i, #confirmPasswordInputWithEye i{
    font-size: 18px;
    margin: auto 10px;
    display: block;
    cursor: pointer;
}

#emptyPasswordEye{
    color: #d1daeb;
}

#nonEmptyPasswordEye{
    color:#04091e;
}

#passwordMismatch{
    color:#e03131;
    position: absolute;
    margin: 4px 0px 0px;
    font-size: 12px;
}

#updatePasswordButton{
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    width: 160px;
    height: 40px;
    margin-top: 40px;
    float: left;
}

#updatePasswordButton:hover{
    transform: scale(1.1);
}

#updatePasswordButton:enabled{
    background-image: linear-gradient(94deg, #fcad02 -40%, #ff0041 100%);
    color: white;
    cursor: pointer;
}

#updatePasswordButton:disabled{
    background-color: #dee3ea;
    color: #8a8a8a;
    cursor: no-drop;
}